<ion-content padding>
  
 
<ion-grid text-center>
<h3>Enter Your PIN</h3>
<p>Check Profile for PIN code</p>

<div class="keypadwrapper">
  <ul class="inputwrapper">
	<li><span class="numberinput empid1">{{one}}</span></li>
	<li><span class="numberinput empid2">{{two}}</span></li>
	<li><span class="numberinput empid3">{{three}}</span></li>
	<li><span class="numberinput empid4">{{four}}</span></li>
  </ul>
  <div class="keypad">
    <div class="numberline">
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(1)">1</span>
         
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(2)">2</span>
         
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(3)">3</span>
          
        </div>
      </div>
    </div>
    <div class="numberline">
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(4)">4</span>
         
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(5)">5</span>
       </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(6)">6</span>
        </div>
      </div>
    </div>
    <div class="numberline">
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(7)">7</span>
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(8)">8</span>
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(9)">9</span>
        </div>
      </div>
    </div>
    <div class="numberline">
      <div class="content">
        <div class=" bg-dark">
          <span class="number" (click)="clear()">X</span>
        </div>
      </div>
      <div class="content">
        <div>
          <span class="number" (click)="handleInput(0)">0</span>
        </div>
      </div>
      <div class="content btnemp">
        <div>
          <span class="number" (click)="ok()">OK</span>
        </div>
      </div>
	 
    </div>
  </div>
</div>
</ion-grid>
</ion-content>